{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "API Monitoring",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://gcp-api.apiwiz.io/itorix/v1/monitor",
    "x-name" : "Server1"
  }, {
    "url" : "https://gcp-api.apiwiz.io/",
    "x-name" : "Server2"
  } ],
  "tags" : [ {
    "name" : "Collections",
    "description" : "dummy"
  }, {
    "name" : "Environments",
    "description" : "dummy"
  }, {
    "name" : "Certificates",
    "description" : "dummy"
  } ],
  "paths" : {
    "/collections" : {
      "get" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "getCollections",
        "operationId" : "getCollections",
        "parameters" : [ {
          "name" : "pagesize",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          },
          "example" : "10",
          "style" : "form"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90",
          "style" : "simple"
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          },
          "example" : "1",
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/collections",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "data", "pagination" ],
                  "type" : "object",
                  "properties" : {
                    "pagination" : {
                      "required" : [ "offset", "pageSize", "total" ],
                      "type" : "object",
                      "properties" : {
                        "total" : {
                          "type" : "integer"
                        },
                        "offset" : {
                          "type" : "integer"
                        },
                        "pageSize" : {
                          "type" : "integer"
                        }
                      }
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "createdBy", "createdUserName", "cts", "description", "id", "latency", "modifiedBy", "modifiedUserName", "mts", "name", "summary", "uptime" ],
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string"
                          },
                          "cts" : {
                            "type" : "integer"
                          },
                          "createdUserName" : {
                            "type" : "string"
                          },
                          "modifiedUserName" : {
                            "type" : "string"
                          },
                          "mts" : {
                            "type" : "integer"
                          },
                          "createdBy" : {
                            "type" : "string"
                          },
                          "modifiedBy" : {
                            "type" : "string"
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "summary" : {
                            "type" : "string"
                          },
                          "description" : {
                            "type" : "string"
                          },
                          "latency" : {
                            "type" : "integer"
                          },
                          "uptime" : {
                            "type" : "integer"
                          }
                        }
                      }
                    }
                  },
                  "example" : "{\"pagination\":{\"total\":37,\"offset\":1,\"pageSize\":10},\"data\":[{\"id\":\"64394f5c88c6175a4ebb2dcf\",\"cts\":1681477468358,\"createdUserName\":\"Gautami Kumari\",\"modifiedUserName\":\"Gautami Kumari\",\"mts\":1681477556119,\"createdBy\":\"642d52be62fb667c51d27ba9\",\"modifiedBy\":\"Gautami Kumari\",\"name\":\"newCollForTestingUpdated\",\"summary\":\"newCollForTesting\",\"description\":\"newCollForTesting\",\"latency\":0,\"uptime\":0},{\"id\":\"6437db5988c6175a4ebb2dcb\",\"cts\":1681382233679,\"createdUserName\":\"Gautami Kumari\",\"modifiedUserName\":\"Gautami Kumari\",\"mts\":1681450546812,\"createdBy\":\"642d52be62fb667c51d27ba9\",\"modifiedBy\":\"Divakar V\",\"name\":\"newCollForTestingnew\",\"summary\":\"newCollForTesting\",\"description\":\"newCollForTesting\",\"latency\":626,\"uptime\":0},{\"id\":\"6437db2188c6175a4ebb2dc9\",\"cts\":1681382177510,\"createdUserName\":\"Gautami Kumari\",\"modifiedUserName\":\"Gautami Kumari\",\"mts\":1681382177518,\"createdBy\":\"642d52be62fb667c51d27ba9\",\"modifiedBy\":\"642d52be62fb667c51d27ba9\",\"name\":\"newCollForTestingdgg\",\"summary\":\"newCollForTesting\",\"description\":\"newCollForTesting\",\"latency\":0,\"uptime\":0},{\"id\":\"642e49e90920a71990bb1b72\",\"cts\":1680755175469,\"createdUserName\":\"Sravan Shashil\",\"modifiedUserName\":\"Sravan Shashil\",\"mts\":1680755533269,\"createdBy\":\"62a9eff28445d68960063edb\",\"modifiedBy\":\"Sravan Shashil\",\"name\":\"sample\",\"summary\":\"summary\",\"description\":\"desc\",\"latency\":92,\"uptime\":0},{\"id\":\"641ac191a2bca4330c700c38\",\"cts\":1679475087677,\"createdUserName\":\"Divakar V\",\"modifiedUserName\":\"Divakar V\",\"mts\":1680612050274,\"createdBy\":\"6345661eac08d61ad2cc9a4b\",\"modifiedBy\":\"Gautami Kumari\",\"name\":\"Testing timeoutt\",\"summary\":\"Testing timeout\",\"description\":\"Testing timeout\",\"latency\":350,\"uptime\":99},{\"id\":\"63e62eea85fa295cc3c94d08\",\"cts\":1676029673828,\"createdUserName\":\"Divakar V\",\"modifiedUserName\":\"Divakar V\",\"mts\":1678604169310,\"createdBy\":\"6345661eac08d61ad2cc9a4b\",\"modifiedBy\":\"Gautami Kumari\",\"name\":\"Testing-1\",\"summary\":\"Testing\",\"description\":\"Testing\",\"latency\":540,\"uptime\":100},{\"id\":\"640cd4b71dc0c160aeb89e57\",\"cts\":1678562487907,\"createdUserName\":\"Gautami Kumari\",\"modifiedUserName\":\"Gautami Kumari\",\"mts\":1678562807114,\"createdBy\":\"63c78f94cc97804b78121f19\",\"modifiedBy\":\"Gautami Kumari\",\"name\":\"testingApi\",\"summary\":\"testingApi\",\"description\":\"testingApi\",\"latency\":0,\"uptime\":0},{\"id\":\"63e62eea85fa295cc3c94d07\",\"cts\":1676029673828,\"createdUserName\":\"Divakar V\",\"modifiedUserName\":\"Divakar V\",\"mts\":1678283264654,\"createdBy\":\"6345661eac08d61ad2cc9a4b\",\"modifiedBy\":\"Yathin Somaiah\",\"name\":\"Testing\",\"summary\":\"Testing\",\"description\":\"Testing\",\"latency\":500,\"uptime\":99},{\"id\":\"640828121dc0c160aeb89e4c\",\"cts\":1678256146629,\"createdUserName\":\"vidya r\",\"modifiedUserName\":\"vidya r\",\"mts\":1678270831844,\"createdBy\":\"62f345d9c9aabe7e86f1b603\",\"modifiedBy\":\"Yathin Somaiah\",\"name\":\"Acme_Bank_branch_location_v1\",\"summary\":\"Acme_Bank_branch_location_v1\",\"description\":\"Acme_Bank_branch_location_v1\",\"latency\":322,\"uptime\":0},{\"id\":\"6401905e72b62a53ef086f60\",\"cts\":1677824092502,\"createdUserName\":\"Sravan Shashil\",\"modifiedUserName\":\"Sravan Shashil\",\"mts\":1677824197706,\"createdBy\":\"62a9eff28445d68960063edb\",\"modifiedBy\":\"Sravan Shashil\",\"name\":\"MonitorDev\",\"summary\":\"MonitorDev\",\"description\":\"MonitorDev\",\"latency\":320,\"uptime\":90}]}"
                }
              }
            }
          }
        },
        "description" : "s"
      },
      "post" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "createCollection",
        "operationId" : "createCollection",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "description", "name", "notifications", "schedulers", "summary" ],
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string"
                  },
                  "summary" : {
                    "type" : "string"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "notifications" : {
                    "type" : "array",
                    "items" : {
                      "required" : [ "emails", "type" ],
                      "type" : "object",
                      "properties" : {
                        "type" : {
                          "type" : "string"
                        },
                        "emails" : {
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  },
                  "schedulers" : {
                    "type" : "array",
                    "items" : {
                      "required" : [ "environmentId", "environmentName", "id", "interval", "isPause", "timeout" ],
                      "type" : "object",
                      "properties" : {
                        "id" : {
                          "type" : "integer"
                        },
                        "environmentName" : {
                          "type" : "string"
                        },
                        "environmentId" : {
                          "type" : "string"
                        },
                        "interval" : {
                          "type" : "integer"
                        },
                        "isPause" : {
                          "type" : "boolean"
                        },
                        "timeout" : {
                          "type" : "integer"
                        }
                      }
                    }
                  }
                },
                "additionalProperties" : {
                  "type" : "object"
                },
                "description" : "Request Body",
                "example" : "{\n    \"name\": \"newCollForTesting\",\n    \"summary\": \"newCollForTesting\",\n    \"description\": \"newCollForTesting\",\n    \"notifications\": [\n        {\n            \"type\": \"email\",\n            \"emails\": [\n                \"gautami@itorix.com\"\n            ]\n        }\n    ],\n    \"schedulers\": [\n        {\n            \"id\": 68230777,\n            \"environmentName\": \"testApiEnv\",\n            \"environmentId\": \"640d838c1dc0c160aeb89e62\",\n            \"interval\": 5,\n            \"isPause\": false,\n            \"lastExecutionTime\": null,\n            \"timeout\": 0\n        }\n    ]\n}"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Response for endpoint POST-itorix/v1/monitor/collections",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "id" ],
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string"
                    }
                  },
                  "example" : "{\"id\": \"64394f5c88c6175a4ebb2dcf\"}"
                }
              }
            }
          },
          "403" : {
            "description" : "Response for endpoint POST-itorix/v1/monitor/collections",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Resource authorization validation failed. Please contact your workspace admin.\",\"statusCode\":\"Identity-1043\"}}"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "Request Body"
      }
    },
    "/variables" : {
      "get" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "getAllVariables",
        "operationId" : "getAllVariables",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/variables",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "example" : "[{\"id\":\"6439505588c6175a4ebb2dd1\",\"cts\":1681477717947,\"mts\":1681477762911,\"createdBy\":\"Gautami Kumari\",\"modifiedBy\":\"Gautami Kumari\",\"name\":\"test-variables-1\",\"description\":\"Pipeline Variables Config\",\"variables\":[{\"name\":\"Content-Type\",\"description\":\"Description\",\"value\":\"application/json\"},{\"name\":\"host\",\"description\":\"Description\",\"value\":\"dev.itorix.com\"},{\"name\":\"scheme\",\"description\":\"Description\",\"value\":\"http\"},{\"name\":\"version\",\"description\":\"Version of the APIs\",\"value\":\"v1\"},{\"name\":\"port\",\"description\":\"Description\",\"value\":\"9001\"},{\"name\":\"password\",\"description\":\"Password\",\"value\":\"TZpHahKfn+cXvc/quKYab2DBtJ/R1GT1DTWi4njqDjqllgy/hj4lDLZUXd0D9/7qTKCFIfH0RI8G6W8zByDvgQ==\"},{\"name\":\"username\",\"description\":\"User Name\",\"value\":\"sudhakar.alaparthi\"}]},{\"id\":\"6437f7bd88c6175a4ebb2dcc\",\"cts\":1681389501514,\"mts\":1681389501514,\"createdBy\":\"Gautami Kumari\",\"name\":\"GetPRODUCTS_V1changed\",\"description\":\"TESTING\",\"variables\":[{\"name\":\"host\",\"description\":\"dummyjson.com\",\"value\":\"dummyjson.com\"},{\"name\":\"port\",\"description\":\"testing\",\"value\":\"443\"}]},{\"id\":\"6437bff288c6175a4ebb2dc7\",\"cts\":1681375218173,\"mts\":1681375218173,\"createdBy\":\"Gautami Kumari\",\"name\":\"GetPRODUCTS_V11\",\"description\":\"TESTING\",\"variables\":[{\"name\":\"host\",\"description\":\"dummyjson.com\",\"value\":\"dummyjson.com\"},{\"name\":\"port\",\"description\":\"testing\",\"value\":\"443\"}]},{\"id\":\"642c4b65b26cad1e09452f5e\",\"cts\":1680624484987,\"mts\":1680624484987,\"createdBy\":\"Satuluri Deepak\",\"name\":\"automation_test\",\"description\":\".\",\"variables\":[]},{\"id\":\"640cd6781dc0c160aeb89e5b\",\"cts\":1678562936005,\"mts\":1678562936005,\"createdBy\":\"Gautami Kumari\",\"name\":\"production\",\"description\":\"\",\"variables\":[{\"name\":\"Content-Type\",\"description\":\"Description\",\"value\":\"application/json\"},{\"name\":\"host\",\"description\":\"Description\",\"value\":\"api.itorix.com\"},{\"name\":\"scheme\",\"description\":\"Description\",\"value\":\"http\"},{\"name\":\"version\",\"description\":\"Version of the APIs\",\"value\":\"v1\"},{\"name\":\"port\",\"description\":\"Description\",\"value\":\"9001\"},{\"name\":\"password\",\"description\":\"Password\",\"value\":\"ACdt2DbaepauB4oLMfPF+/XRjPBbyAP8TlWHFb5x+DdUmQOae2zDwjLZg5DKc8mGE6L1cqNBEIa/DYvZmB7LdQ==\"},{\"name\":\"username\",\"description\":\"User Name\",\"value\":\"darshan.shivashankar\"}]},{\"id\":\"638f248446c1c8417f576af5\",\"cts\":1670325380645,\"mts\":1674627376630,\"createdBy\":\"sridhar sri\",\"modifiedBy\":\"sridhar sri\",\"name\":\"Dummyjson_v1\",\"description\":\"\",\"variables\":[{\"name\":\"host\",\"description\":\"-\",\"value\":\"dummyjson.com\"},{\"name\":\"port\",\"description\":\"443\",\"value\":\"443\"}]},{\"id\":\"63ce9b768c04c31cc47811b6\",\"cts\":1674484598057,\"mts\":1674484598057,\"createdBy\":\"Nihal Ahamed\",\"name\":\"iouio\",\"description\":\"jnjk\",\"variables\":[]},{\"id\":\"63a2950a5720d42f6d02c6ad\",\"cts\":1671599370831,\"mts\":1672379983321,\"createdBy\":\"Gautami Kumari\",\"modifiedBy\":\"Divakar V\",\"name\":\"new environment\",\"description\":\"\",\"variables\":[{\"name\":\"Header\",\"description\":\"\",\"value\":\"TestHeaderEnv2\"}]},{\"id\":\"63a9999394f3cd1c8b8ce947\",\"cts\":1672059283375,\"mts\":1672379947433,\"createdBy\":\"Divakar V\",\"modifiedBy\":\"Divakar V\",\"name\":\"test-postman-echo\",\"description\":\"\",\"variables\":[{\"name\":\"Header\",\"description\":\"TestHeaderKey\",\"value\":\"TestHeaderEnv1\"}]},{\"id\":\"639f480d2b70933a4f07b7ae\",\"cts\":1671383052332,\"mts\":1671384092342,\"createdBy\":\"Chinmayee Jagadeesh\",\"modifiedBy\":\"Chinmayee Jagadeesh\",\"name\":\"time-test\",\"description\":\"time test\",\"variables\":[{\"name\":\"host\",\"description\":\"\",\"value\":\"world.openpetfoodfacts.org\"},{\"name\":\"port\",\"description\":\"\",\"value\":\"443\"},{\"name\":\"host1\",\"description\":\"\",\"value\":\"en.wikipedia.org\"}]},{\"id\":\"639b1587a4ec09097bdb64c5\",\"cts\":1671107975413,\"mts\":1671107975413,\"createdBy\":\"Chinmayee Jagadeesh\",\"name\":\"Endpoints\",\"description\":\"\",\"variables\":[{\"name\":\"host\",\"description\":\"\",\"value\":\"gcp-mock.apiwiz.io\"},{\"name\":\"port\",\"description\":\"\",\"value\":\"443\"},{\"name\":\"id\",\"description\":\"\",\"value\":\"1\"}]},{\"id\":\"6399d8820b6daf239af5f2b7\",\"cts\":1671026817013,\"mts\":1671100733635,\"createdBy\":\"Chinmayee Jagadeesh\",\"modifiedBy\":\"Chinmayee Jagadeesh\",\"name\":\"Products\",\"description\":\"\",\"variables\":[{\"name\":\"host\",\"description\":\"\",\"value\":\"gcp-mock.apiwiz.io\"},{\"name\":\"id\",\"description\":\"\",\"value\":\"1\"},{\"name\":\"x-tenant\",\"description\":\"\",\"value\":\"80264bbd-6f76-40c4-8c3a-ac70f8183c26\"},{\"name\":\"port\",\"description\":\"\",\"value\":\"443\"}]},{\"id\":\"6345458ce08661627659f37c\",\"cts\":1665484172510,\"mts\":1671036295219,\"createdBy\":\"Chinmayee Jagadeesh\",\"modifiedBy\":\"vidya r\",\"name\":\"Env\",\"description\":\"\",\"variables\":[{\"name\":\"token\",\"description\":\"token\",\"value\":\"hdbwydeygwuhd-263bhsjbx-3286es\"}]},{\"id\":\"6399fd760b6daf239af5f2dd\",\"cts\":1671036278312,\"mts\":1671036278312,\"createdBy\":\"vidya r\",\"name\":\"env-1\",\"description\":\"test\",\"variables\":[]},{\"id\":\"63984640a486495d36da2a27\",\"cts\":1670923839939,\"mts\":1671013835936,\"createdBy\":\"vidya r\",\"modifiedBy\":\"vidya r\",\"name\":\"dummyjson-testing\",\"description\":\"TEST\",\"variables\":[{\"name\":\"host\",\"description\":\"dummyjson.com\",\"value\":\"dummyjson.com\"},{\"name\":\"port\",\"description\":\"443\",\"value\":\"443\"}]},{\"id\":\"63989cc2c696ec7c1a352414\",\"cts\":1670945985135,\"mts\":1670945985135,\"createdBy\":\"Chinmayee Jagadeesh\",\"name\":\"loans\",\"description\":\"\",\"variables\":[{\"name\":\"host\",\"description\":\"\",\"value\":\"gcp-mock.apiwiz.io\"},{\"name\":\"port\",\"description\":\"\",\"value\":\"443\"}]},{\"id\":\"63984d7428b140098930e53d\",\"cts\":1670925684337,\"mts\":1670925684337,\"createdBy\":\"vidya r\",\"name\":\"testing-loansapi\",\"description\":\"testing\",\"variables\":[]},{\"id\":\"6398462b28b140098930e53c\",\"cts\":1670923818334,\"mts\":1670923818334,\"createdBy\":\"vidya r\",\"name\":\"DELETEPRODUCTS_V1\",\"description\":\"TESTING\",\"variables\":[]},{\"id\":\"63983d9bd5084807a21d0a2c\",\"cts\":1670921627619,\"mts\":1670921652012,\"createdBy\":\"vidya r\",\"modifiedBy\":\"vidya r\",\"name\":\"POSTPRODUCTS_V1\",\"description\":\"Memory & CPU Usage. It's important to measure the impact your APIs have on your servers. The two most important API infrastructure metrics to watch out for are CPU and memory usage\",\"variables\":[{\"name\":\"host\",\"description\":\"Memory & CPU Usage. It's important to measure the impact your APIs have on your servers. The two most important API infrastructure metrics to watch out for are CPU and memory usage\",\"value\":\"dummyjson.com\"},{\"name\":\"port\",\"description\":\"Memory & CPU Usage. It's important to measure the impact your APIs have on your servers. The two most important API infrastructure metrics to watch out for are CPU and memory usage\",\"value\":\"443\"}]}]",
                  "items" : {
                    "required" : [ "createdBy", "cts", "description", "id", "mts", "name", "variables" ],
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "string"
                      },
                      "cts" : {
                        "type" : "integer"
                      },
                      "mts" : {
                        "type" : "integer"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "description" : {
                        "type" : "string"
                      },
                      "variables" : {
                        "type" : "array",
                        "items" : {
                          "required" : [ "description", "name", "value" ],
                          "type" : "object",
                          "properties" : {
                            "name" : {
                              "type" : "string"
                            },
                            "description" : {
                              "type" : "string"
                            },
                            "value" : {
                              "type" : "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "createVariables",
        "operationId" : "createVariables",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "description", "name", "variables" ],
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "variables" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object"
                    }
                  }
                },
                "additionalProperties" : {
                  "type" : "object"
                },
                "description" : "Request Body",
                "example" : "{\"name\":\"testApiEnv\",\"description\":\"testApiEnv\",\"variables\":[]}"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Response for endpoint POST-itorix/v1/monitor/variables",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Response for endpoint POST-itorix/v1/monitor/variables",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Request validation failed. Resource already exist.\",\"statusCode\":\"Monitor-1005\"}}"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "Request Body"
      }
    },
    "/variables/overview" : {
      "get" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "getVariablesOverview",
        "operationId" : "getVariablesOverview",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pagesize",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "10"
        }, {
          "name" : "expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/variables/overview",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "pagination", "variables" ],
                  "type" : "object",
                  "properties" : {
                    "pagination" : {
                      "required" : [ "offset", "pageSize", "total" ],
                      "type" : "object",
                      "properties" : {
                        "total" : {
                          "type" : "integer"
                        },
                        "offset" : {
                          "type" : "integer"
                        },
                        "pageSize" : {
                          "type" : "integer"
                        }
                      }
                    },
                    "variables" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "createdBy", "cts", "description", "id", "mts", "name", "variables" ],
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string"
                          },
                          "cts" : {
                            "type" : "integer"
                          },
                          "mts" : {
                            "type" : "integer"
                          },
                          "createdBy" : {
                            "type" : "string"
                          },
                          "modifiedBy" : {
                            "type" : "string"
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "description" : {
                            "type" : "string"
                          },
                          "variables" : {
                            "type" : "array",
                            "items" : {
                              "required" : [ "description", "name", "value" ],
                              "type" : "object",
                              "properties" : {
                                "name" : {
                                  "type" : "string"
                                },
                                "description" : {
                                  "type" : "string"
                                },
                                "value" : {
                                  "type" : "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example" : "{\"pagination\":{\"total\":19,\"offset\":1,\"pageSize\":10},\"variables\":[{\"id\":\"6439505588c6175a4ebb2dd1\",\"cts\":1681477717947,\"mts\":1681477762911,\"createdBy\":\"Gautami Kumari\",\"modifiedBy\":\"Gautami Kumari\",\"name\":\"test-variables-1\",\"description\":\"Pipeline Variables Config\",\"variables\":[{\"name\":\"Content-Type\",\"description\":\"Description\",\"value\":\"application/json\"},{\"name\":\"host\",\"description\":\"Description\",\"value\":\"dev.itorix.com\"},{\"name\":\"scheme\",\"description\":\"Description\",\"value\":\"http\"},{\"name\":\"version\",\"description\":\"Version of the APIs\",\"value\":\"v1\"},{\"name\":\"port\",\"description\":\"Description\",\"value\":\"9001\"},{\"name\":\"password\",\"description\":\"Password\",\"value\":\"TZpHahKfn+cXvc/quKYab2DBtJ/R1GT1DTWi4njqDjqllgy/hj4lDLZUXd0D9/7qTKCFIfH0RI8G6W8zByDvgQ==\"},{\"name\":\"username\",\"description\":\"User Name\",\"value\":\"sudhakar.alaparthi\"}]},{\"id\":\"6437f7bd88c6175a4ebb2dcc\",\"cts\":1681389501514,\"mts\":1681389501514,\"createdBy\":\"Gautami Kumari\",\"name\":\"GetPRODUCTS_V1changed\",\"description\":\"TESTING\",\"variables\":[{\"name\":\"host\",\"description\":\"dummyjson.com\",\"value\":\"dummyjson.com\"},{\"name\":\"port\",\"description\":\"testing\",\"value\":\"443\"}]},{\"id\":\"6437bff288c6175a4ebb2dc7\",\"cts\":1681375218173,\"mts\":1681375218173,\"createdBy\":\"Gautami Kumari\",\"name\":\"GetPRODUCTS_V11\",\"description\":\"TESTING\",\"variables\":[{\"name\":\"host\",\"description\":\"dummyjson.com\",\"value\":\"dummyjson.com\"},{\"name\":\"port\",\"description\":\"testing\",\"value\":\"443\"}]},{\"id\":\"642c4b65b26cad1e09452f5e\",\"cts\":1680624484987,\"mts\":1680624484987,\"createdBy\":\"Satuluri Deepak\",\"name\":\"automation_test\",\"description\":\".\",\"variables\":[]},{\"id\":\"640cd6781dc0c160aeb89e5b\",\"cts\":1678562936005,\"mts\":1678562936005,\"createdBy\":\"Gautami Kumari\",\"name\":\"production\",\"description\":\"\",\"variables\":[{\"name\":\"Content-Type\",\"description\":\"Description\",\"value\":\"application/json\"},{\"name\":\"host\",\"description\":\"Description\",\"value\":\"api.itorix.com\"},{\"name\":\"scheme\",\"description\":\"Description\",\"value\":\"http\"},{\"name\":\"version\",\"description\":\"Version of the APIs\",\"value\":\"v1\"},{\"name\":\"port\",\"description\":\"Description\",\"value\":\"9001\"},{\"name\":\"password\",\"description\":\"Password\",\"value\":\"ACdt2DbaepauB4oLMfPF+/XRjPBbyAP8TlWHFb5x+DdUmQOae2zDwjLZg5DKc8mGE6L1cqNBEIa/DYvZmB7LdQ==\"},{\"name\":\"username\",\"description\":\"User Name\",\"value\":\"darshan.shivashankar\"}]},{\"id\":\"638f248446c1c8417f576af5\",\"cts\":1670325380645,\"mts\":1674627376630,\"createdBy\":\"sridhar sri\",\"modifiedBy\":\"sridhar sri\",\"name\":\"Dummyjson_v1\",\"description\":\"\",\"variables\":[{\"name\":\"host\",\"description\":\"-\",\"value\":\"dummyjson.com\"},{\"name\":\"port\",\"description\":\"443\",\"value\":\"443\"}]},{\"id\":\"63ce9b768c04c31cc47811b6\",\"cts\":1674484598057,\"mts\":1674484598057,\"createdBy\":\"Nihal Ahamed\",\"name\":\"iouio\",\"description\":\"jnjk\",\"variables\":[]},{\"id\":\"63a2950a5720d42f6d02c6ad\",\"cts\":1671599370831,\"mts\":1672379983321,\"createdBy\":\"Gautami Kumari\",\"modifiedBy\":\"Divakar V\",\"name\":\"new environment\",\"description\":\"\",\"variables\":[{\"name\":\"Header\",\"description\":\"\",\"value\":\"TestHeaderEnv2\"}]},{\"id\":\"63a9999394f3cd1c8b8ce947\",\"cts\":1672059283375,\"mts\":1672379947433,\"createdBy\":\"Divakar V\",\"modifiedBy\":\"Divakar V\",\"name\":\"test-postman-echo\",\"description\":\"\",\"variables\":[{\"name\":\"Header\",\"description\":\"TestHeaderKey\",\"value\":\"TestHeaderEnv1\"}]},{\"id\":\"639f480d2b70933a4f07b7ae\",\"cts\":1671383052332,\"mts\":1671384092342,\"createdBy\":\"Chinmayee Jagadeesh\",\"modifiedBy\":\"Chinmayee Jagadeesh\",\"name\":\"time-test\",\"description\":\"time test\",\"variables\":[{\"name\":\"host\",\"description\":\"\",\"value\":\"world.openpetfoodfacts.org\"},{\"name\":\"port\",\"description\":\"\",\"value\":\"443\"},{\"name\":\"host1\",\"description\":\"\",\"value\":\"en.wikipedia.org\"}]}]}"
                }
              }
            }
          },
          "400" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/variables/overview",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Required request header 'JSESSIONID' for method parameter type String is not present\",\"statusCode\":\"General-1001\"}}"
                }
              }
            }
          }
        }
      }
    },
    "/variables/search" : {
      "get" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "searchForEnvironment",
        "operationId" : "searchForEnvironment",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "production"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/variables/search",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "example" : "[{\"id\":\"640cd6781dc0c160aeb89e5b\",\"cts\":1678562936005,\"mts\":1678562936005,\"createdBy\":\"Gautami Kumari\",\"name\":\"production\",\"description\":\"\",\"variables\":[{\"name\":\"Content-Type\",\"description\":\"Description\",\"value\":\"application/json\"},{\"name\":\"host\",\"description\":\"Description\",\"value\":\"api.itorix.com\"},{\"name\":\"scheme\",\"description\":\"Description\",\"value\":\"http\"},{\"name\":\"version\",\"description\":\"Version of the APIs\",\"value\":\"v1\"},{\"name\":\"port\",\"description\":\"Description\",\"value\":\"9001\"},{\"name\":\"password\",\"description\":\"Password\",\"value\":\"ACdt2DbaepauB4oLMfPF+/XRjPBbyAP8TlWHFb5x+DdUmQOae2zDwjLZg5DKc8mGE6L1cqNBEIa/DYvZmB7LdQ==\"},{\"name\":\"username\",\"description\":\"User Name\",\"value\":\"darshan.shivashankar\"}]}]",
                  "items" : {
                    "required" : [ "createdBy", "cts", "description", "id", "mts", "name", "variables" ],
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "string"
                      },
                      "cts" : {
                        "type" : "integer"
                      },
                      "mts" : {
                        "type" : "integer"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "description" : {
                        "type" : "string"
                      },
                      "variables" : {
                        "type" : "array",
                        "items" : {
                          "required" : [ "description", "name", "value" ],
                          "type" : "object",
                          "properties" : {
                            "name" : {
                              "type" : "string"
                            },
                            "description" : {
                              "type" : "string"
                            },
                            "value" : {
                              "type" : "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/variables/search",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Required request parameter 'name' for method parameter type String is not present\",\"statusCode\":\"General-1000\"}}"
                }
              }
            }
          }
        }
      }
    },
    "/certificates/search" : {
      "get" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "searchForCertificates",
        "operationId" : "searchForCertificates",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "Integration Server Certificates"
        }, {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "10"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/certificates/search",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "example" : "[{\"id\":\"63930d9c2de3dc2004335777\",\"name\":\"Integration Server Certificates\"}]",
                  "items" : {
                    "required" : [ "id", "name" ],
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "string"
                      },
                      "name" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/certificates/search",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Required request parameter 'name' for method parameter type String is not present\",\"statusCode\":\"General-1000\"}}"
                }
              }
            }
          }
        }
      }
    },
    "/certificates" : {
      "get" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "getCertificates",
        "operationId" : "getCertificates",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        }, {
          "name" : "names",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/certificates",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "example" : "[{\"id\":\"63c008dd2de3dc20049b83c2\",\"cts\":1673529565046,\"mts\":1673529565520,\"createdBy\":\"Yathin Somaiah\",\"modifiedBy\":\"Yathin Somaiah\",\"name\":\"Apigee\",\"description\":\"keystore for ssl testing\",\"alias\":\"apigee\"},{\"id\":\"63984c572de3dc2004baf682\",\"cts\":1670925399720,\"mts\":1671036327117,\"createdBy\":\"vidya r\",\"modifiedBy\":\"vidya r\",\"name\":\"vidya.r\",\"description\":\"certificate-03\"},{\"id\":\"63930d9c2de3dc2004335777\",\"cts\":1670581660028,\"createdBy\":\"vidya r\",\"name\":\"Integration Server Certificates\",\"description\":\"Integration Server Certificates\",\"alias\":\"Integration Server Certificates\"},{\"id\":\"6384a87b2de3dc200481c447\",\"cts\":1669638267285,\"createdBy\":\"Shravan Shashil\",\"name\":\"cert-2\",\"description\":\"desc\",\"alias\":\"aliassss\"},{\"id\":\"6437af1d2de3dc20048f2397\",\"cts\":1681370909514,\"createdBy\":\"Gautami Kumari\",\"name\":\"newcert\",\"description\":\"new\"}]",
                  "items" : {
                    "required" : [ "createdBy", "cts", "description", "id", "name" ],
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "string"
                      },
                      "cts" : {
                        "type" : "integer"
                      },
                      "mts" : {
                        "type" : "integer"
                      },
                      "createdBy" : {
                        "type" : "string"
                      },
                      "modifiedBy" : {
                        "type" : "string"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "description" : {
                        "type" : "string"
                      },
                      "alias" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "createOrUpdateCertificate",
        "operationId" : "createOrUpdateCertificate",
        "parameters" : [ {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "alias", "password" ],
                "properties" : {
                  "jksFile" : {
                    "type" : "string",
                    "example" : "newCert.jks"
                  },
                  "name" : {
                    "type" : "string",
                    "example" : "newCert"
                  },
                  "description" : {
                    "type" : "string",
                    "example" : "new cert"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "alias" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Response for endpoint POST-itorix/v1/monitor/certificates",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "500" : {
            "description" : "Response for endpoint POST-itorix/v1/monitor/certificates"
          }
        }
      }
    },
    "/certificates/overview" : {
      "get" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "getCertificatesOverView",
        "operationId" : "getCertificatesOverView",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expand",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/certificates/overview",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "certificates", "pagination" ],
                  "type" : "object",
                  "properties" : {
                    "pagination" : {
                      "required" : [ "offset", "pageSize", "total" ],
                      "type" : "object",
                      "properties" : {
                        "total" : {
                          "type" : "integer"
                        },
                        "offset" : {
                          "type" : "integer"
                        },
                        "pageSize" : {
                          "type" : "integer"
                        }
                      }
                    },
                    "certificates" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "createdBy", "cts", "description", "id", "name" ],
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string"
                          },
                          "cts" : {
                            "type" : "integer"
                          },
                          "createdBy" : {
                            "type" : "string"
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "description" : {
                            "type" : "string"
                          },
                          "mts" : {
                            "type" : "integer"
                          },
                          "modifiedBy" : {
                            "type" : "string"
                          },
                          "alias" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  },
                  "example" : "{\"pagination\":{\"total\":5,\"offset\":1,\"pageSize\":10},\"certificates\":[{\"id\":\"6437af1d2de3dc20048f2397\",\"cts\":1681370909514,\"createdBy\":\"Gautami Kumari\",\"name\":\"newcert\",\"description\":\"new\"},{\"id\":\"63c008dd2de3dc20049b83c2\",\"cts\":1673529565046,\"mts\":1673529565520,\"createdBy\":\"Yathin Somaiah\",\"modifiedBy\":\"Yathin Somaiah\",\"name\":\"Apigee\",\"description\":\"keystore for ssl testing\",\"alias\":\"apigee\"},{\"id\":\"63984c572de3dc2004baf682\",\"cts\":1670925399720,\"mts\":1671036327117,\"createdBy\":\"vidya r\",\"modifiedBy\":\"vidya r\",\"name\":\"vidya.r\",\"description\":\"certificate-03\"},{\"id\":\"63930d9c2de3dc2004335777\",\"cts\":1670581660028,\"createdBy\":\"vidya r\",\"name\":\"Integration Server Certificates\",\"description\":\"Integration Server Certificates\",\"alias\":\"Integration Server Certificates\"},{\"id\":\"6384a87b2de3dc200481c447\",\"cts\":1669638267285,\"createdBy\":\"Shravan Shashil\",\"name\":\"cert-2\",\"description\":\"desc\",\"alias\":\"aliassss\"}]}"
                }
              }
            }
          }
        }
      }
    },
    "/search" : {
      "get" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "search",
        "operationId" : "search",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "Testing-1"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "10"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/search",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "MonitorCollections" ],
                  "type" : "object",
                  "properties" : {
                    "MonitorCollections" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "id", "name" ],
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string"
                          },
                          "name" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  },
                  "example" : "{\"MonitorCollections\":[{\"id\":\"63e62eea85fa295cc3c94d08\",\"name\":\"Testing-1\"}]}"
                }
              }
            }
          },
          "400" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/search",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Required request parameter 'name' for method parameter type String is not present\",\"statusCode\":\"General-1000\"}}"
                }
              }
            }
          }
        }
      }
    },
    "/metadata" : {
      "get" : {
        "tags" : [ "API Monitoring" ],
        "summary" : "getMetaData",
        "operationId" : "getMetaData",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "6442f3c7da447846514a1a90"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/monitor/metadata",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "metadata" ],
                  "type" : "object",
                  "properties" : {
                    "metadata" : {
                      "required" : [ "assertionConditions", "continueOnError", "httpVerb", "reference", "requestBodyType", "responseBodyType", "standardHeaders", "variableTypes" ],
                      "type" : "object",
                      "properties" : {
                        "standardHeaders" : {
                          "required" : [ "Accept", "Content-Type", "names" ],
                          "type" : "object",
                          "properties" : {
                            "names" : {
                              "type" : "array",
                              "items" : {
                                "type" : "string"
                              }
                            },
                            "Accept" : {
                              "required" : [ "values" ],
                              "type" : "object",
                              "properties" : {
[...]
